body{
    margin: 10;
    padding: 10; 
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    
}
.loader{
    position: absolute;
    top: 42%;
    left: 45%;
    border: 1px solid grey ;
    width: 140px;
    background-color: white;
    
}
